<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V11</title>
	<!-- <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"> -->
		<!--===============================================================================================-->	
		<link rel="icon" type="image/png" href="{{ url_for('static', filename='styles/images/icons/favicon.ico') }}"/>
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/vendor/bootstrap/css/bootstrap.min.css') }}">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/vendor/animate/animate.css') }}">
		<!--===============================================================================================-->	
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/vendor/css-hamburgers/hamburgers.min.css') }}">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/vendor/select2/select2.min.css') }}">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/css/util.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/css/main.css') }}">
		<!--===============================================================================================-->
	</head>
	<body>

		<div class="limiter">
			<div class="container-login100">
				<div class="wrap-login-page-login100 p-l-50 p-r-50 p-t-77 p-b-30">
					<form class="login100-form validate-form" method="post" action="/add" enctype="multipart/form-data">
						<span class="login100-form-title p-b-55">
							Add Users
						</span>

						<div class="wrap-input100 validate-input m-b-16" data-validate = "Name is required">
							<input class="input100" type="text" name="uname" placeholder="Name">
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<span class="lnr lnr-envelope"></span>
							</span>
						</div>

						<div class="wrap-input100 validate-input m-b-16" data-validate = "Valid email is required: ex@abc.xyz">
							<input class="input100" type="text" name="email" placeholder="Email">
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<span class="lnr lnr-envelope"></span>
							</span>
						</div>

						<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
							<input class="input100" type="password" name="pass" placeholder="Password">
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<span class="lnr lnr-lock"></span>
							</span>
						</div>

						<div class="wrap-input100 validate-input m-b-16">
							<select class="input100" name="user_role">
								<option value="1">Admin</option>
								<option value="2">Normal Users</option>
								<option value="3">Guest</option>
							</select>
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<span class="lnr lnr-envelope"></span>
							</span>
						</div>

						<div class="wrap-input100 validate-input m-b-16">
							<input type="file" name="file" autocomplete="off" required>
						</div>

						<div class="container-login100-form-btn p-t-25">
							<button class="login100-form-btn">
								Add User 
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>




		<!--===============================================================================================-->	
		<script src="{{ url_for('static', filename='styles/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
		<!--===============================================================================================-->
		<script src="{{ url_for('static', filename='styles/vendor/bootstrap/js/popper.js') }}"></script>
		<script src="{{ url_for('static', filename='styles/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
		<!--===============================================================================================-->
		<script src="{{ url_for('static', filename='styles/vendor/select2/select2.min.js') }}"></script>
		<!--===============================================================================================-->
		<script src="{{ url_for('static', filename='styles/js/main.js') }}"></script>

	</body>
	</html>