<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<!-- <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> -->
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='styles/images/icons/favicon.ico') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/vendor/animate/animate.css') }}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/vendor/css-hamburgers/hamburgers.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/css/main.css') }}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login-page-login100 p-l-50 p-r-50 p-t-77 p-b-30">
				<span class="login100-form-title p-b-55">
						Login
					</span>
				<span class="login100-form-title p-b-55">
						{% with messages = get_flashed_messages() %}
						{% if messages %}
						{% for message in messages %}
						{{ message }}
						{% endfor %}

						{% endif %}
						{% endwith %}
					</span>
				<form class="login100-form validate-form" method="post" action="/login">
					

					<div class="wrap-input100 validate-input m-b-16" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="email" placeholder="Email">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-envelope"></span>
						</span>
					</div>

					<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
						<input class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
						</span>
					</div>
					
					<div class="container-login100-form-btn p-t-25">
						<button class="login100-form-btn">
							Login
						</button>
					</div>

					<div class="text-center w-full p-t-115">
						<span class="txt1">
							Not a member?
						</span>

						<a class="txt1 bo1 hov1" href="/userregister">
							Sign up now							
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="{{ url_for('static', filename='styles/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='styles/vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ url_for('static', filename='styles/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='styles/vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='styles/js/main.js') }}"></script>

</body>
</html>